<div id="<%= dom_id task %>">
  <p>
    <strong>Título:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>descrição:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Data de Vencimento:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
